
/*SECCIÓN VIDEOS */
#videos .video-01 {
  position: relative;
}

#videos img {
  width: 100%;
}
#videos img.telefono-01 {
  padding-top: 18px;
  z-index: -999;
  position: absolute;
}
#videos img.telefono-02 {
  padding-top: 65px;
  width: 85% !important;
  margin: 0 auto;
  display: block;
  position: relative;
  left: 30px;
}
#videos img.telefono-03 {
  width: 85% !important;
  float: right;
}
#videos img.telefono-04 {
  width: 85% !important;
  position: relative;
  top: -50px;
  right: 0;
  float: right;
  margin-bottom: -50px;
}



<section id="videos">
      <div class="container py-5">
        <div class="row">             
          <div class="col-md-4 col-lg-4">
            <div class="video-01">
              <img src="imagenes/videos/telefono-001.png" class="telefono-01 img-responvise">                      
            </div><!-- Cierra video-01 -->
          </div><!-- Cierra col -->

          <div class="col-md-4 col-lg-4">
            <img src="imagenes/videos/telefono-022.png" class="telefono-02 img-responvise">            
          </div> <!-- Cierra col -->
          <div class="col-md-4 col-lg-4">
            <img src="imagenes/videos/telefono-03.png" class="telefono-03 img-responvise">
          </div> <!-- Cierra col -->          
        </div><!-- Cierra row -->
      
        <div class="row">             
          <div class="col-md-6 col-lg-4">
            <img src="imagenes/videos/telefono-022.png" class="img-responvise">
          </div> <!-- Cierra col -->
          <div class="col-md-6 col-lg-8">
            <img src="imagenes/videos/telefono-04.png" class="telefono-04 img-responvise">
            <img src="imagenes/videos/animation.png" class="img-responvise">
            <img src="imagenes/videos/videos.png" class="img-responvise">
          </div> <!-- Cierra col -->               
        </div><!-- Cierra row -->
      </div><!-- Cierra container --> 
    </section>