@font-face {
    font-family: 'AkiraExpandedDemo';
    src: url('fuentes/.AkiraExpandedDemo') format('AkiraExpandedDemo'),
         url('fuentes/.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


   

    .content {
      width: 100%;
    }

    .list {
      list-style: none;
    }

    .list li {
      display: flex;
      align-items: center;
      color: #b6b6b6;
    }

    .icon-list {
      width: 42px;
      height: 42px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #ffffff;
      background-color: #;
    }

    .h2 {
      padding-bottom: 1rem;
    }



/* Estilos personalizados */
.switch input {
  display: block;
}
.switch label {
  position: relative;
  display: block;
  max-width: 40px;
  width: 50vw;
  min-width: 30px;
  aspect-ratio: 35/15;
    background: linear-gradient(to right, #6d5497, #fff);


  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.switch .checkstyle label {
  background-color: #3399FF80;
  background: linear-gradient(#6d5497,#fff);
  
}

/* Deslizable */
.switch label > span {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(5px, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.switch .checkstyle:checked ~ label > span {
  left: 100%;
  transform: translate(-5px, -50%);
}

/* Selector */
.switch label > span > span {
  content: "";
  height: 25px;
  aspect-ratio: 1/1;
  border-color:red;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  border-radius: 100%;  border: 1px solid #FFF;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.switch .checkstyle:checked ~ label > span > span {
  background: linear-gradient(#6d5497,#fff);
  border: 2px solid #000;
}
.switch .checkstyle:checked ~ label > span > span > span {
  background-color: #000;
  content: "";
    height: 20px;
    aspect-ratio: 1 / 1;
    border-color: #6d5497;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 48%;
    left: 48%;
    
    border-radius: 100%;
    border: 1px solid #FFF;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
/* Hover */
.switch:hover label > span:before {
  content: "";
  height: 265%;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #ffffff14;
  border-radius: 100%;
  opacity: 0;
}
.switch:hover label > span:before {opacity: 1;}
.switch .checkstyle:checked ~ label > span:before {
  background-color: #3399ff14;
}

/* Active */
.switch label > span:after {
  content: "";
  height: 0px;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #ffffff26;
  border-radius: 100%;
  opacity: 0;
  transition: height 0s ease .5s, opacity .5s ease 0s;
}
.switch:hover:active label > span:after {
  height: 265%;
  opacity: 1;
  transition: height .5s ease 0s, opacity 0s ease 0s;
}
.switch:hover:active .checkstyle:checked ~ label > span:after {
  background-color: #3399ff26;
}

body {
  margin: 0;
  padding: 0;
}
a,
a:hover,
* {
  text-decoration: none; 
  list-style-type: none;
  margin: 0;  
}

/* MENÚ */
.header{ 
  position: fixed;
  top: 0;
  width: 100%; /* Para que ocupe todo el ancho */  
  z-index: 15;
}
nav { 
  background-color: #f8f8f8;  
  color: #777;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0;
  margin: 0;
  border:none;
  position: fixed;
}
nav ul li a {
  font-family: "Raleway", sans-serif;  
  font-size: 14px;
  color:#777;
  font-weight:500;
  padding: 25px 15px;
  display: block;
  transition: 0.4s;
}
nav ul li a:hover {
  color:#251653;
}
.scrolled .navbar-brand img {
  max-height: 20px;
  transition: max-height 0.4s, 
  opacity 0.3s;
  top: 8px;
}
.scrolled .navbar-nav li a {
  padding: 12px;
  font-weight: bold;
  font-size: 12px;
}
.navbar-brand {
  display: contents;
}
.navbar-brand h2 {
  font-family: "Michroma", sans-serif;  
  font-size: 15px;  
  color: #000;  
  text-align: center;    
  font-style: normal;
  margin: 0;
}
.navbar-brand p {
  font-family: "Raleway", sans-serif; 
  font-size: 9px;  
  color: #000;  
  text-align: right; 
  font-style: normal; 
  margin: 0; 
}

/*Hamburger */
.menu-bars{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.menu-bars input{
  position: absolute;
  width: 40px;
  height: 28px;
  left:-5px;
  top:-3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-bars span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #251653;
  border-radius: 3px;
  transition: all 0.3s;
}
.menu-bars span:nth-child(2){
  transform-origin: 0 0 ;
}
.menu-bars span:nth-child(4){
  transform-origin: 0 100% ;
}
.menu-bars input:checked ~ span:nth-child(2){
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px,0); 
}
.menu-bars input:checked ~ span:nth-child(3){
  opacity: 0;
  transform: scale(0); 
}

/* VIDEO INICIO */
.contenedor-video {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;  /*Altura completa de la pantalla */
  overflow: hidden;  
  z-index: 10;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.contenido-video {
  display: block;
  height: 100%;
  width: max-content;
  margin: 0 auto;
}
.contenido-video a {
  display: block;
  position: relative;
  top: 50%;
}
.contenido-video h1{
  font-family: 'Michroma';
  font-size:36px;
  text-align: center;    
  font-style: normal;
  color: #fff;
  transition: 0.4s;
  /* Estilos adicionales para centrar el texto */
  top: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;  
  position: relative;
}
.contenido-video h1:hover {
  color: #aaa8ac;
}
.contenido-video p {
  font-family: "Raleway", sans-serif;
  font-size:15px;
  color:#fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;  
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 49%;
  transition: 0.4s;
  display: flex;
  justify-content: end;
  align-items: self-end;
}
.contenido-video h1 hr {
  border: 1px solid #fff;
  height: 45px;
  margin: 0 20px;
  display: flex;
  transition: 0.4s;
  opacity: 1;
}

/* SECCIÓN ANET GRANDE */
.quiensoy {
  height: 100%;
  display: flex;
  margin: 0 auto;  
  padding: 50px 0;
  background-image: url(../imagenes/fondo1.png);
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.quiensoy:before {
  background: #020024;
  background: linear-gradient(270deg, rgba(2, 0, 0, 0) 0%, #000 95%);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.quiensoy p {
  text-align: right;
}
.quiensoy h2 {
  font-family: "Akira Expanded";  
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: right;
  margin: 0 auto;
}
.recorrido {
  padding-left: 175px;
  position: relative;
}
.caracteristicas {
  padding: 20px;
  border:1px solid #fff ;
  border-radius:30px;
  margin-top: 40px;
  border: 5px solid #0000;
  border-radius: 25px;  
  position: relative;

  }
.caracteristicas:before {
  content:"";
  position: absolute;
  inset: 0;
  padding: 1px; /* the border length */
  background: linear-gradient(155deg,#fff,#251653);
  border-radius: inherit;
  --m:conic-gradient(#000 0 0);
  mask: var(--m) content-box exclude,var(--m);
  pointer-events: none;
}
.caracteristicas ul {
  margin-bottom: 0; 
  padding: 0;
}
.caracteristicas li {
  padding:3px 0 ;
}
.caracteristicas h2 {
  font-family: 'Cambai Minimalist', sans-serif;  
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: lighter;
  margin: 0  auto 0 0;  
}
.caracteristicas h2 {
  text-align: left;
}
.caracteristicas img {
  width: 15%;
}
.quiensoy p,
.herramientas p {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  color: #fff;
  text-align: right;
  line-height: 21px;
}
.herramientas p {
  text-align: left;
}
.herramientas h2 {
  font-family: "Akira Expanded";  
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: left;
  margin: 0 auto;
}
.quiensoy p,
.herramientas p{
  font-size: 12px;
  color: #fff;
}
.herramientas {
  padding-top: 50px;
}

.iconos-herramientas,
.iconos-herramientas2,
.iconos-herramientas3,
.iconos-herramientas4 {
  display: flex; 
  position: relative;
  align-self: center;
  justify-self: center;
  padding: 15px 0;  
}
.iconos-herramientas img,
.iconos-herramientas2 img,
.iconos-herramientas3 img,
.iconos-herramientas4 img {
  width: 60px;
}
.imagen {
  /*margin: 0 auto;*/
  position: relative;
  /*display: block;*/
  overflow: hidden;  
}
.grupo-iconos {
  margin: 0 0 auto;
  width: 50%;
  position: relative;
  right: 50%;
  left: 50%;
  display: block;  margin-top: 60px;

  /* overflow: hidden;*/
}
.imagen .imagen-tailandia{
 width: 65%;
  margin: 0;
  position: relative;
  display: block;
  float: right;
  right: 0;
  height: -webkit-fill-available;
  bottom: 0;
  margin-top: 60px;
}


/* SECCIÓN DISEÑOS Y PROYECTOS */
#carousel {
  padding:50px 0;
  background-image: url(../imagenes/fondo2.png);
  width: 100%;
  background-size: cover; 
  background-position: left; 
  background-repeat: no-repeat;
}
.carousel-inner{
  border-radius: 30px;
  width: 100%;/* O el ancho deseado */
  height: 300px; /* O la altura deseada */
  overflow: hidden;/* CORTA TODO LO QUE SOBRESALE */
  position: relative;
}


.carousel-indicators [data-bs-target] {
  background-color:#fff;
  width: 8px;
  height: 8px; 
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color:#6d5497;
}
.carousel-items {
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
#carousel .parrafo  {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 21px;
  position: relative;
  top:  -50%;
}
.carousel-caption {
  height: 100%;
  width: 100%;
  display: table;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  right: 50%;
  left: 0%;
  top: 50%;
}

/* SECCIÓN CRITERIOS */
label > * {
  transform: translateZ(0) scale(1, 1);
}
.wrapper > * {
  cursor: pointer;
}
.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 20px;
  background: -webkit-linear-gradient(#000,#fff);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 75px;
}
.wrapper .toggle--handler {
  background: linear-gradient(to bottom, #000, #000);
  width: 20px;
  height: 20px;
  display: block;
  box-shadow: 0px 5px 40px rgba(245, 81, 95, 0.8);
  border-radius: 60px;
  margin: 0;
  position: relative;
  z-index: 2;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.wrapper .toggle--handler:after {
  content: "";
  position: absolute;
  border-radius: 60px;
  background: linear-gradient(to bottom, #468EFF, #2B68FF);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 200ms;
}
.wrapper .toggle--handler:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 60px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path d="M13.414 11.96l6.546-6.546L18.545 4 12 10.545 5.455 4 4.04 5.414l6.546 6.546-6.89 6.89 1.414 1.413 6.89-6.89 6.89 6.89 1.414-1.414-6.89-6.89z" fill="#FFF"/></g></svg>');
  transition: all 200ms;
  transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background: #E5E5E5;
  pointer-events: none;
}

input {
  position: absolute;
  left: -999em;
}
input:checked + .toggle .toggle--handler {
  transform: translateX(30px);
  background: linear-gradient(to bottom, #468EFF, #2B68FF);
  box-shadow: 0px 5px 40px rgba(70, 142, 255, 0.8);
}
input:checked + .toggle .toggle--handler:after {
  opacity: 1;
}
input:checked + .toggle .toggle--handler:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross copy</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path fill="#FFF" d="M8.293 16.707l.707.707.707-.707 11-11-1.414-1.414-11 11h1.414l-4-4-1.414 1.414z"/></g></svg>');
  z-index: 5;
  transform: translate(-50%, -50%) rotate(0deg);
}




/* SECCIÓN CARDS */
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.card {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 5px;  
  background-color: transparent !important; border: none;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: .5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  line-height: 45px;
  color: #fff;
  background:;
  text-align: center;
  display: none;
}*/

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(95, 100, 29, 0);
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  width: 200px;
  min-height: 250px;
  height: auto;
  top: 0px;
  left: 0;
  position: absolute;
  border-radius: 20px;
}
.card .back .link {
  /*border-top:;*/
  /*height: 50px;*/
  /*line-height: 50px;*/
  /*display:inline;*/
  position: relative;
  top: 50%;
    left: 0%;
    right: 0%;
}
.card .back .link a {
  color: #f3f3f3;
}
/*.card .back h3 {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: none;
}
.card .back p {
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  display: none;
} */
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.card .btn  {
  background-color:#6d5497;
  border-radius: 50px;
  width: auto;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.celular {
  position: relative;
  background-color: red;
  top: -10px;
}
.celular img {
  width: 100%;
  position: absolute;
}
.feed {  
  top: 45px;
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.feed img {
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;
}
.feed img:hover {
  transform: scale(1.1); 
} 
.contenido-design img {
  width: 100%;
}
.contenido-design .social-media{
  width: 100%;
  position: relative;  
}
.contenido-design {
  margin-bottom: 20px;
}
.contenido-design .design {
  width: 100%;
  position: relative;
  top:-30px;
  left: -20px;
}
#trabajos p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #000;
  text-align: left;
  padding-left: 10px;
}
.pantallas  {
  background-color:#fff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 80%;
  float: right;
}
.designsocialmedia img {
  width: 100%;
}
.designsocialmedia {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #3a3a3a;
  text-align: left;
}
.notebook {   
  position: relative;
  top: -22%;
  left: -5%;
  z-index: -999;
  margin-bottom:0;
}


/*CATÁLOGO INTENSE*/
#catalogo-intense {   
  background-image: url(../imagenes/catalogs/catalogo-intense/catalogo-intense.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;

}
#catalogo-intense:before { 
  background: rgba(250, 250, 250, 0.05);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#catalogo-intense .intense-1,
#catalogo-intense .intense-2 {
  display: inline-block; 
  margin: 0 1%; 
  position: relative;
}
#catalogo-intense .intense-3,
#catalogo-intense .intense-4 {
  display: inline-block; 
  margin: 2% 1%; 
}
.intense-1 {
  width: 35%;
}
.intense-2 {
  width: 30%; 
  position: relative;
  top: -20px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}
.intense-3 {
  width: 30%;
  position: relative;
  left: 15px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}
.intense-4 {
  width: 25%; 
  position: relative;
  top: -20px;
  left: 15px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}



/*CATÁLOGO SERTFATY*/
#catalogo-sertafty {   
  background-image: url(../imagenes/catalogs/catalogo-sertfaty/catalogosertfaty.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
#catalogo-sertafty:before { 
  background: rgba(250, 250, 250, 0.05);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.FLYERsertfaty {
  width: 55%;
  box-shadow: 10px 10px 4px 0px rgba(29, 29, 27, 0.75);
  position: relative;
 
}
.FLYERsertfaty-1,
.FLYERsertfaty-2,
.FLYERsertfaty-3,
.FLYERsertfaty-4,
.FLYERsertfaty-5 {
  width: 35%;
  box-shadow: 6px 6px 4px 0px rgba(29, 29, 27, 0.75);
  margin: 1%; 
  display: inline-block; 
  position: relative;
}
.imagenes-catalogo-sertfaty2 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 40%;
}

/*CATÁLOGO VAPES*/
#catalogo-vapes {
  overflow: hidden;
  background-image: url(../.png);
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: none;
}
.imagenes-catalogo-vapes {
  display: inline-block;
  height:50%;
  /*justify-content: center;
  align-items: center;*/
}
.imagenes-catalogo-vapes2 { 
    float: left;

}
.catalogovapes-1,
.catalogovapes-2 {
  width: 70%;
  box-shadow: 6px 6px 4px 0px rgba(29, 29, 27, 0.75);
  margin: 1%; 
  display: block; 
  position: relative;
}
.catalogovapes-3 {
  width: 70%;
  box-shadow: 6px 6px 4px 0px rgba(29, 29, 27, 0.75);
  margin: 1%; 
  display: block; 
  position: relative;
}


footer {
  background-color: #6d5497;

}
footer i {
  color: #fff;
  font-size: 20px;
  padding-right: 5px;
  transition: transform 0.2s ease;
}
footer i:hover  {
  transform: scale(1.1);
}
footer a {
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center;
}
footer p{
  color: #fff;
  font-size: 12px;
  display: inline;
}
/* =========== Media Queries =========== */

@media (max-width: 1140px) {
.recorrido {
    padding-left: 0;
  } 
  .intense-2 {   
    top: -15px;
  }
} 

@media (max-width: 980px) {
  nav ul{
    position:absolute;
    right:0;
    top:0;
    width:100%;
    height:100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #251653;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
  } 
  .navbar{  
    padding:20px 0; 
  }
  .menu-bars{
    display:flex;
  }
  nav ul.menudesplegable{
    transform: translateY(0);
    margin: 0;
  }  
  #carousel .parrafo {
    width: 100%;
  }
  .quiensoy p,
  .quiensoy h2 {
    text-align: left;    
    padding: 0 !important; 
  }
  .imagen .imagen-tailandia {
    margin-top: 250px;
  }  
  .grupo-iconos {
    margin-top: 180px;
  }
  .iconos-herramientas, 
  .iconos-herramientas2, 
  .iconos-herramientas3, 
  .iconos-herramientas4 {
    padding: 10px 0;
  }
  .feed {
    margin-bottom: 80px;
  }
  .intense-2 {
    top: -25px;
  }
  #catalogo-intense,
  #catalogo-sertafty {
    background-size: cover;
    background-position:center;
  }
  .imagenes-catalogo-intense{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagenes-catalogo-sertfaty {
    display: block;
    text-align: center;
  }
  #catalogo-intense:before,
  #catalogo-sertafty:before { 
    background:rgba(250, 250, 250, 0.7);    
  }
  .imagenes-catalogo-sertfaty2 { 
    right: 0;
    left: 0;
    justify-content: center;
    align-items: baseline;
    position: relative;
    top: 25px;
    height: auto;
  }
}


@media (max-width: 768px) {
  .navbar-nav li a {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .navbar-nav li a:hover {
    color:#6d5497; 
  }
  #carousel .parrafo {
    padding: 30px 0 0 0 !important;
  }
  .carousel-inner { 
    height: auto;
  }
  .imagen .imagen-tailandia {
    margin-top: 0;
    width: 100%;
  }
  .grupo-iconos {
    margin-top: 40px;
    position: absolute;
    width: 100%;right: 0;
    left: 0;
  }
  .imagen  {
    margin-top: 50px;
  }
  .notebook {
    left: -10%;
  }
  .intense-2 {
    top: -20px;
  }  
}
@media only screen and (max-width: 600px) { 
  .contenido-video h1 {
    font-size: 25px;
  }
  .contenido-video h1 hr {
    height: 35px;
  }
  .imagen .imagen-tailandia {  
    margin-top: 50px;
  }
  .notebook {
    left: 0;
  }
  
}

@media (max-width: 576px) {
  .intense-2 {
    top: -12px;
  }
}







































.navbar-brand img {
    /*transition: max-height 0.4s;*/
    /*height: 50px;*/
    display: flex;
    justify-content: center;
}


















