@font-face {
    font-family: 'AkiraExpandedDemo';
    src: url('fuentes/.AkiraExpandedDemo') format('AkiraExpandedDemo'),
         url('fuentes/.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





body {
  margin: 0;
  padding: 0;
}
a,
a:hover,
* {
  text-decoration: none; 
  list-style-type: none;
  margin: 0;  
}

/* MENÚ */
.header{ 
  position: fixed;
  top: 0;
  width: 100%; /* Para que ocupe todo el ancho */  
  z-index: 15;
}
nav { 
  background-color: #f8f8f8;  
  color: #777;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0;
  margin: 0;
  border:none;
  position: fixed;
}
nav ul li a {
  font-family: "Raleway", sans-serif;  
  font-size: 14px;
  color:#777;
  font-weight:500;
  padding: 25px 15px;
  display: block;
  transition: 0.4s;
}
nav ul li a:hover {
  color:#251653;
}
.scrolled .navbar-brand img {
  max-height: 20px;
  transition: max-height 0.4s, 
  opacity 0.3s;
  top: 8px;
}
.scrolled .navbar-nav li a {
  padding: 12px;
  font-weight: bold;
  font-size: 12px;
}
.navbar-brand {
  display: contents;
}
.navbar-brand h2 {
  font-family: "Michroma", sans-serif;  
  font-size: 15px;  
  color: #000;  
  text-align: center;    
  font-style: normal;
  margin: 0;
}
.navbar-brand p {
  font-family: "Raleway", sans-serif; 
  font-size: 9px;  
  color: #000;  
  text-align: right; 
  font-style: normal; 
  margin: 0; 
}

/*Hamburger */
.menu-bars{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.menu-bars input{
  position: absolute;
  width: 40px;
  height: 28px;
  left:-5px;
  top:-3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-bars span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #251653;
  border-radius: 3px;
  transition: all 0.3s;
}
.menu-bars span:nth-child(2){
  transform-origin: 0 0 ;
}
.menu-bars span:nth-child(4){
  transform-origin: 0 100% ;
}
.menu-bars input:checked ~ span:nth-child(2){
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px,0); 
}
.menu-bars input:checked ~ span:nth-child(3){
  opacity: 0;
  transform: scale(0); 
}

/* VIDEO INICIO */
.contenedor-video {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;  /*Altura completa de la pantalla */
  overflow: hidden;  
  z-index: 10;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.contenido-video {
  display: block;
  height: 100%;
  width: max-content;
  margin: 0 auto;
}
.contenido-video a {
  display: block;
  position: relative;
  top: 50%;
}
.contenido-video h1{
  font-family: 'Michroma';
  font-size:36px;
  text-align: center;    
  font-style: normal;
  color: #fff;
  transition: 0.4s;
  /* Estilos adicionales para centrar el texto */
  top: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;  
  position: relative;
}
.contenido-video h1:hover {
  color: #aaa8ac;
}
.contenido-video p {
  font-family: "Raleway", sans-serif;
  font-size:15px;
  color:#fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;  
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 49%;
  transition: 0.4s;
  display: flex;
  justify-content: end;
  align-items: self-end;
}
.contenido-video h1 hr {
  border: 1px solid #fff;
  height: 45px;
  margin: 0 20px;
  display: flex;
  transition: 0.4s;
  opacity: 1;
}

/* SECCIÓN ANET GRANDE */
.quiensoy {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url('../imagenes/fondo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
  padding:50px 0;
  width: 100%;
}
.quiensoy:before {
  background: #020024;
  background-image: url('../imagenes/fondo-1.png');
  background: linear-gradient(270deg, rgba(2, 0, 0, 0) 0%, #000 95%);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.quiensoy p {
  text-align: right;
}
.quiensoy h2 {
  font-family: "Akira Expanded";  
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: right;
  margin: 0 auto;
}
.recorrido {
  padding-left: 130px;
}
.caracteristicas {
  padding: 25px;
  border:1px solid #fff;
  border-radius:30px;
  margin-top: 40px;
}
.caracteristicas ul {
  margin-bottom: 0; 
  padding: 0;
}
.caracteristicas li {
  padding:5px 0 ;
}
.caracteristicas h2 {
  font-family: 'Cambai Minimalist', sans-serif;  
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  margin: 0 auto;  
}
.caracteristicas h2 {
  text-align: left;
}
.quiensoy p,
.herramientas p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: right;
  line-height: 21px;
}
.herramientas p {
  text-align: left;
}
.herramientas h2 {
  font-family: "Akira Expanded";  
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: left;
  margin: 0 auto;
}
.quiensoy p,
.herramientas p{
  font-size: 12px;
  color: #fff;
}
.herramientas {
  padding-top: 50px;
}

/* SECCIÓN DISEÑOS Y PROYECTOS */
#carousel {
  padding:50px 0;
  background-image: url(../imagenes/fondo2.png);
  width: 100%;
  background-size: cover; 
  background-position: left; 
  background-repeat: no-repeat;

}
.carousel-inner{
  border-radius: 30px;
  width: 100%;/* O el ancho deseado */
  height: 300px; /* O la altura deseada */
  overflow: hidden;/* CORTA TODO LO QUE SOBRESALE */
  position: relative;
}
.carousel-indicators [data-bs-target] {
  background-color:#fff;
  width: 8px;
  height: 8px; 
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color:#6d5497;
}
.carousel-items {
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
#carousel p  {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border-top: 2px solid #fff;
  padding-top: 40px;
  line-height: 21px;
}









label > * {
  transform: translateZ(0) scale(1, 1);
}

.wrapper > * {
  cursor: pointer;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 20px;
  background: -webkit-linear-gradient(#000,#fff);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 75px;
}
.wrapper .toggle--handler {
  background: linear-gradient(to bottom, #000, #000);
  width: 20px;
  height: 20px;
  display: block;
  box-shadow: 0px 5px 40px rgba(245, 81, 95, 0.8);
  border-radius: 60px;
  margin: 0;
  position: relative;
  z-index: 2;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.wrapper .toggle--handler:after {
  content: "";
  position: absolute;
  border-radius: 60px;
  background: linear-gradient(to bottom, #468EFF, #2B68FF);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 200ms;
}
.wrapper .toggle--handler:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 60px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path d="M13.414 11.96l6.546-6.546L18.545 4 12 10.545 5.455 4 4.04 5.414l6.546 6.546-6.89 6.89 1.414 1.413 6.89-6.89 6.89 6.89 1.414-1.414-6.89-6.89z" fill="#FFF"/></g></svg>');
  transition: all 200ms;
  transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background: #E5E5E5;
  pointer-events: none;
}

input {
  position: absolute;
  left: -999em;
}
input:checked + .toggle .toggle--handler {
  transform: translateX(30px);
  background: linear-gradient(to bottom, #468EFF, #2B68FF);
  box-shadow: 0px 5px 40px rgba(70, 142, 255, 0.8);
}
input:checked + .toggle .toggle--handler:after {
  opacity: 1;
}
input:checked + .toggle .toggle--handler:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross copy</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path fill="#FFF" d="M8.293 16.707l.707.707.707-.707 11-11-1.414-1.414-11 11h1.414l-4-4-1.414 1.414z"/></g></svg>');
  z-index: 5;
  transform: translate(-50%, -50%) rotate(0deg);
}






















/* =========== Media Queries =========== */


@media (max-width: 1140px) {
.recorrido {
    padding-left: 0;
  } 
  } 
@media (max-width: 980px) {
  nav ul{
    position:absolute;
    right:0;
    top:0;
    width:100%;
    height:100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #251653;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
  } 
  .navbar{  
    padding:20px 0; 
  }
  .menu-bars{
    display:flex;
  }
  nav ul.menudesplegable{
    transform: translateY(0);
    margin: 0;
  }  
  #carousel p {
    width: 100%;
  }
  .quiensoy p,
  .quiensoy h2 {
    text-align: left;    
    padding: 0 !important; 
  }
}

@media (max-width: 768px) {
  .navbar-nav li a {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .navbar-nav li a:hover {
    color:#6d5497; 
  }
  #carousel p {
    padding: 30px 0 0 0 !important;
  }
  .carousel-inner { 
    height: auto;
  }
}
@media only screen and (max-width: 600px) { 
  .contenido-video h1 {
    font-size: 25px;
  }
  .contenido-video h1 hr {
    height: 35px;
  }
}










































.navbar-brand img {
    /*transition: max-height 0.4s;*/
    /*height: 50px;*/
    display: flex;
    justify-content: center;
}


















