@font-face {
    font-family: 'AkiraExpandedDemo';
    src: url('fuentes/.AkiraExpandedDemo') format('AkiraExpandedDemo'),
         url('fuentes/.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://googleapis.com');
body {
  margin: 0;
  padding: 0;
}
a,
a:hover,
* {
  text-decoration: none; 
  list-style-type: none;
  margin: 0;  
}

/*Navbar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 100;
  background: #f8f8f8;
}
.navbar-collapse {
  flex-basis: 0;
}
.collapse:not(.show) {
  display: flex;
  justify-content: flex-end;
}
.navbar-nav {
  flex-direction: inherit;
  justify-content: center;
}
.navbar-brand {
  display: block;
  margin: 0;
  padding: 0;
}
.navbar-brand h2 {
  font-family: "Michroma", sans-serif;  
  font-size: 15px;  
  text-align: center; 
}
.navbar-brand p {
  font-family: "Raleway", sans-serif; 
  font-size: 9px;  
  text-align: right;    
}
.navbar-brand h2,
.navbar-brand p { 
  font-style: normal; 
  margin: 0; 
}
.navbar-nav li a {
  font-family: "Raleway", sans-serif; 
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  display: block;
  padding: 25px 10px;
  transition: 0.4s;
}
.navbar-nav li a:hover,
.scrolled .navbar-nav li a:hover  {
  font-weight: 600;  
  background: linear-gradient(to bottom, rgba(109, 84, 151, 0.2) 0%, transparent 100%);
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #fff !important;
  background: #6d5497 !important;
}
.scrolled .navbar-nav li a {
  padding: 20px 12px;
  font-size: 12px;
  color: #fff !important;
}
#menu {
  width: 100%;
}

/*Botón Menú*/
.hamburger {
  padding: 15px 15px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  display: none;  
}
.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #6d5497; 
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; 
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #6d5497;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}
.hamburger-inner::before, 
.hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}

/*Efecto Menú Hamburger*/
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; 
}
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; 
}
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; 
}
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; 
}


/* VIDEO INICIO */
.contenedor-video {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;  /*Altura completa de la pantalla */
  overflow: hidden;  
  z-index: 10;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.contenido-video {
  display: block;
  height: 100%;
  width: max-content;
  margin: 0 auto;
}
.contenido-video a {
  display: block;
  position: relative;
  top: 50%;
}
.contenido-video h1{
  font-family: 'Michroma';
  font-size:45px;
  font-style: normal;
  color: #fff;
  transition: 0.4s;
  top: 50%;
  display: flex;
  margin: 0 auto;  
}
.contenido-video h1:hover {
  color: #aaa8ac;
}
.contenido-video p {
  font-family: "Raleway", sans-serif;
  font-size:15px;
  color:#fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;  
  margin: 0 auto;
  transition: 0.4s;
  display: flex;
  justify-content: end;
  align-items: self-end;
}
.contenido-video h1 hr {
  border: 2px solid #fff;
  height: 45px;
  margin: 0 20px;
  display: flex;
  transition: 0.4s;
  opacity: 1;
  position: relative;
  top: 5px;
}

/* SECCIÓN ANET GRANDE */
#inicio {
  height: 100%;
  margin: 0 auto; 
  background-image: url(../imagenes/anetgrande/fondo-01.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.contenido p {
  font-family: 'D-DIN', sans-serif; 
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: right;
  color: #fff;
  font-weight: lighter;
}
.contenido p strong {
  font-weight: bold;
}
.contenido p:last-child {
  margin-bottom: 0;
}
.contenido h2 {
  font-family: "Akira Expanded";  
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: right;
  margin: 0 0 0 auto ;
}

/* Recorrido y sectores */
.recorrido {
  padding-left: 175px;
  flex-direction: column;
  position: relative;
}
.imagen-anabel,
.recorrido {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.imagen-anabel img {  
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: block; 
}

/* Caracteristicas y herramientas*/
.caracteristicas {
  padding: 10px 15px 10px 15px;
  border-radius:30px;
  margin: 0 150px 0 0;
  border-radius: 25px;  
  position: relative;
}
.caracteristicas:before {
  content:"";
  position: absolute;
  inset: 0;
  padding: 1px; /* the border length */
  background: linear-gradient(155deg,#fff,#251653);
  border-radius: inherit;
  --m:conic-gradient(#000 0 0);
  mask: var(--m) content-box exclude,var(--m);
  pointer-events: none;
}
.caracteristicas ul {
  margin-bottom: 0; 
  padding: 0;
}
.caracteristicas li {
  padding:3px 0;
}
.caracteristicas h3 {
  font-family: 'Cambai Minimalist', sans-serif;  
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
  margin: 0  auto 0 0;  
}
.caracteristicas img {
  width: 15%;
}
.lista-caracteristicas li {
  display: flex;
  align-items: center;
  color: #b6b6b6;
  padding: 10px 0;
}
.herramientas {
  margin-right: 150px;
}

/* Botones*/
label {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background: linear-gradient(#6d5497,#fff);
  color: transparent;
  box-shadow: inset 0 0 20px rgba(109, 84, 151, 0.9),
              inset 0 3px 5px rgba(109, 84, 151, 0.9),
              inset 0 -3px 5px rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
label input {
  display: none;
}
label span {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;  
  left: 0;
  border-radius: 50%;
  background: #252525;    
  transition: .2s;   
}
label span::before {
  content: 'OFF';
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  background: linear-gradient(black, black) padding-box,
              linear-gradient(to right, #76a7a4, #6d5497) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  padding: 3px 1px;    
  transform: translate(-50%, -50%);
  color: #8f1731;
  text-shadow: 0 0 5px #8f1731,
               0 0 10px #8f1731;
}
label input:checked ~ span {
  bottom: -15px;
  left: 15px;
}
label input:checked ~ span::before {
  content: 'ON';
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 900;
  top: 50%;
  left: 50%;
  padding: 3px;
  background: linear-gradient(black, black) padding-box,
            linear-gradient(to right, #76a7a4, #6d5497) border-box;
  border-radius: 50em;    
  transform: translate(-50%, -50%);    
  color: #6d5497;  
  font-weight: 600;
  text-shadow: 0 0 5px #6d5497,
               0 0 10px #6d5497;    
}
.botones {
  display: flex;
  position: absolute;
  float: right;
  right: 10px;
  padding-right: 5px;
}
.sombra {
  height: 30px;
  width: 30px;
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  border-radius: 50%;
  float: right;
  position: relative;
  top: 10px;
  right: 5px; 
  display: none; 
}

/*Iconos de herramientas*/
.iconos {
  margin: 0 0 auto;
  width: max-content;
  position: absolute;
  right: 50%;
  left: 50%;
  display: block;  
  margin-top: 60px;
}
.grupo-iconos {
  position: relative;
  overflow: hidden;
}
.grupo-iconos .imagen-Anabel {
  width: 75%;
  margin: 0 auto;
  display: block;
  float: right;
  right: 0; 
  margin-top: 60px;
}
.iconos-herramientas {
  display: flex; 
  position: relative;
  align-self: center;
  justify-self: center;
  padding: 15px 0;    
}
.iconos-herramientas img {
  width: 65px;
  transition: .2s;
  position: relative;
  z-index: 50;
  transition: background-color 0.3s ease;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconos-herramientas img:hover {
  opacity: 0;
}

/*Porcentaje*/
.porcentaje.izquierda,
.porcentaje.derecha {
  width: 50px;
  height: 50px;  
  cursor: pointer;
  position: absolute;
  display: inline;
  opacity: 0;
}
.bloque-iconos:hover .porcentaje.izquierda,
.bloque-iconos:hover .porcentaje.derecha {
  opacity: 1; /* Hace que el texto aparezca */
}
.bloque-iconos  { 
  display: contents;
}
.progress-bar {
  height: 20px;
  width: 95%;
  background-color: rgba(250,250,250,0.5);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  position: relative;
  border: 1px solid rgb(250,250,250,1);
  top:16px;
}
.bar {
  height: 100%;
  background-color: #9b9a9f;
  
/*Animación de fondo con degradado*/
  background-image: linear-gradient( -45deg,
  rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%,
  rgba(255, 255, 255, .2) 50%, 
  rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); 
  background-size: 30px 30px;
  animation: move 2s linear infinite;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  transition: width 2s ease-out;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
.perc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cambai Minimalist', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

/* SECCIÓN DISEÑOS Y PROYECTOS */
#carousel {
  padding:50px 0;
  background-image: url(../imagenes/anetgrande/fondo-02.png);
  width: 100%;
  background-size: cover; 
  background-position: left; 
  background-repeat: no-repeat;
}
#carousel h2 {
  display: none;
}
.carousel-indicators [data-bs-target] {
  background-color:#fff;
  width: 8px;
  height: 8px; 
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color:#6d5497;
}
.carousel-inner{
  border-radius: 30px;
  width: 100%;/* O el ancho deseado */
  height: 300px; /* O la altura deseada */
  overflow: hidden;/* CORTA TODO LO QUE SOBRESALE */
  position: relative;
  display: flex;  
}
.carousel-items {
  display: flex;
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  object-position: center; /* Centra el encuadre de la imagen */
}
#carousel .contenido p{
  font-family: 'D-DIN', sans-serif; 
  font-size: 12px;
  letter-spacing: 0.5px;  
  font-weight: lighter;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 21px;
  position: relative;
}
.carousel-caption {
  height: 100%;
  width: 100%;
  display: table;  
  position: absolute;
  right: 50%;
  left: 0%;
  top: 50%;
}

/* SECCIÓN CARDS */
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.card {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 5px;  
  background-color: transparent !important; 
  border: none;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: .5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #251653;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  width: 200px;
  min-height: 250px;
  height: auto;
  top: 0px;
  left: 0;
  position: absolute;
  border-radius: 20px;
}
.card .back .link {
  position: relative;
  top: 50%;
  left: 0%;
  right: 0%;
}
.card .back .link a {
  color: #f3f3f3;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.card .btn {
  background-color:#6d5497;
  border-radius: 50px;
  width: auto;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

/* SECCIÓN DESIGN SOCIAL MEDIA */
#imagen-digital {
  display:none
}
.imagen-digital {
  position: relative;
  top: -10px;
  width: 60%;
  margin: 0 auto;
}
.imagen-digital img {
  width: 100%;
  position: absolute;
}
.lista-imagenes-digital {  
  top: 55px;
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.lista-imagenes-digital img {
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;
}
.lista-imagenes-digital img:hover {
  transform: scale(1.1); 
}
.titulo-designsocialmedia {
  width: 100%;
  position: relative; 
  margin-bottom: 20px; 
}
.titulo-designsocialmedia img {
  width: 100%;
}
#digital .contenido p, 
#analogicos .contenido p,
#aplications .contenido p {
  color: #3a3a3a;
  text-align: left;
  margin: 0;
}
.pantallas {
  background-color:#fff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 100%;
  float: right;
}
.pantallas img,
.notebook img {
  width: 100%;
  position: relative;
}
.notebook {   
  position: relative;
  top: -10%;
  right: 25%;
  z-index: -100;
  margin-bottom:0;
}

/*CATÁLOGO INTENSE*/
#catalogo-intense {   
  background-image: url(../imagenes/catalogs/catalogo-intense/catalogo-intense.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
#catalogo-intense:before { 
  background: rgba(250, 250, 250, 0.05);
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#catalogo-intense .intense-1,
#catalogo-intense .intense-2 {
  display: inline-block; 
  margin: 0 1%; 
  position: relative;
}
#catalogo-intense .intense-3,
#catalogo-intense .intense-4 {
  display: inline-block; 
  margin: 2% 1%; 
}
#catalogo-intense h2 {
  display: none;
}
.intense-1 {
  width: 35%;
}
.intense-2 {
  width: 30%; 
  position: relative;
  top: -20px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}
.intense-3 {
  width: 30%;
  position: relative;
  left: 15px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}
.intense-4 {
  width: 30%; 
  position: relative;
  top: 0px;
  left: 25px;
  box-shadow: -4px 6px 4px 0px rgba(241, 190, 183, 0.75);
}

/*CATÁLOGO SERFATY*/
#catalogo-serfaty {   
  background-image: url(../imagenes/catalogs/catalogo-serfaty/Fondo-LeandroSerfaty.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
#catalogo-serfaty:before { 
  /*background: rgba(250, 250, 250, 0.05);*/
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#catalogo-serfaty h2 {
  display: none;
}
.FLYERserfaty {
  width: 55%;
  box-shadow: 10px 10px 4px 0px rgba(29, 29, 27, 0.75);
  position: relative; 
}
.FLYERserfaty-1,
.FLYERserfaty-2,
.FLYERserfaty-3,
.FLYERserfaty-4,
.FLYERserfaty-5,
.FLYERserfaty-6 {
  width: 35%;
  box-shadow: 6px 6px 4px 0px rgba(29, 29, 27, 0.75);
  margin: 1%; 
  display: inline-block; 
  position: relative;
}
.FLYERserfaty-7 {
  width: 70%;
  box-shadow: 6px 6px 4px 0px rgba(29, 29, 27, 0.75);
  margin: 1%; 
  display: inline-block; 
  position: relative;
  left: 1%;
  background-color: #fff;
}
.imagenes-catalogo-serfaty2 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 40%;
}

/*CATÁLOGO VAPES*/
#catalogo-vapes {
  position: relative;
}
#catalogo-vapes h2 {
  display: none;
}
.imagenes-catalogo-vapes,
.imagenes-catalogo-vapes-02 {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.imagenes-catalogo-vapes-02 { 
  float: right;
}
.celular-vapes {
  position: absolute;  
  height: 70%;
  right: 20%;
  top:16%;
  bottom: 0%;
}
.humo-colores {
  position: absolute;
  height: 60%;
  left: 28%;
  top: 17%;
  z-index: 10;
}
.pc-vapes {
  position: absolute;
  height: 50%;
  top: 43%;
  left: 14%;
}

/*ANALÓGICOS*/
.titulo-analogicos {
  padding: 0;
}
#analogicos .titulo-analogicos img,
#analogicos .titulo-3daplications img {
  width: 100% !important;
  display: block;
  position: relative;
  left: 0;
  right: 0;
}
#analogicos .titulo-analogicos .design {
  width: 45% !important;
  display: block;
  float: right;
  position: relative;
  top: 5px;
}
#analogicos h2 {
  display: none;
}
#analogicos img {
  width: 100% !important;
}
#analogicos .logo-digital {
  width: 50% !important;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -30px;
}
.plotting-design {
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

/*3D APLICATIONS*/
.titulo-3daplications {
  width: 100% !important;
  display: block;
  position: relative;
  left: 0;
  right: 0;
}
.titulo-3daplications .tresd {
  width: 45% !important;
  display: block; 
  margin: 0 auto;  
}
.titulo-3daplications .aplications,
.titulo-prototype .prototype {
  width: 100% !important;
  display: block; 
  margin: 0 auto;  
}
#aplications h2 {
  display: none;
}
.logo-teca img, 
.logo-gea img{
  width: 80% !important; 
}
.logo-teca, 
.logo-gea {
  width: 100% !important; 
  height: 100%;
  vertical-align: middle;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.logo-teca {
  border-top: 10px solid #4e6f80;
}
.logo-gea {
  border-top: 10px solid #805a81;
}
.foto-teca,
.foto-gea {
  width: 100%;  
  display: block;
}
.foto-teca {
  float: left;
}
.foto-gea {
  float: right;
}
#aplications .contenido {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aplications .contenido p { 
  text-align: center;
}
.imagenes-prototype { 
  width: 80%;
  display: block;
  margin: 0 auto;
}
.imagenes-prototype-2 { 
  width: 80%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 60px;  
}
.logo-SKETCHUP { 
  width: 70%;
  display: block;
  float: right;
}
#prototype .contenido {
  width: 50%;
  float: right;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}
#prototype .contenido p {
  font-family: 'D-DIN', sans-serif; 
  font-size: 12px;
  letter-spacing: 0.5px;  
  font-weight: lighter;
  color: #000 !important;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#prototype h2 {
  display: none;
}
/*SECCIÓN WORK ARRANGEMENT */
#work-arrangement .contenedor-video {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  /*Altura completa de la pantalla */
  overflow: hidden;  
  z-index: 10;
}
.work {
  background-color: grey;
  border-radius: 100px;
  width: 100%;
  padding: 20px;
}
.contenido-video-work .work p {
  font-family: 'D-DIN', sans-serif; 
  font-size: 12px;
  letter-spacing: 0.5px;  
  font-weight: lighter;
  color: #fff !important;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work h3 {
  font-family: 'Cambai Minimalist', sans-serif;  
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.work .botones-work {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .botones {  
  display: contents;
}
#work-arrangement .titulo-work-arrangement img{
  width: 100%;
}
.work label {
  width: 60px;
}
.work label span {
  width: 45px;
  height: 45px;
  top: -13px;
}
.work label input:checked ~ span {
  left: 25px;
}
.work label span::before {
  font-size: 12px;
  padding: 8px 7px;
}
.work label input:checked ~ span::before {
  font-size: 13px;
  padding: 7px;
}

/*FOOTER*/
footer {
  background-color: #251653;
}
footer i {
  color: #fff;
  font-size: 20px;
  padding-right: 5px;
  transition: transform 0.2s ease;
}
footer i:hover  {
  transform: scale(1.1);
}
footer a {
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center;
}
footer span{
  color: #fff;
  font-size: 12px;
  display: inline;
}


/* =========== Media Queries =========== */
@media (max-width: 1140px) {
  .recorrido {
    padding-left: 0;
  }
  .iconos {
    margin-top: 30px;
  }
  .grupo-iconos .imagen-Anabel {
    margin-top: 100px;
  }
  #prototype .contenido {
    top: -20px;
    margin-bottom: -20px;
  }
}

@media (max-width: 980px) {    
  #menu {
    width: auto;
  }
  .contenido h2,
  .contenido p {
    text-align: left;
    padding: 0;
  }
  .contenido h2 {    
    margin: 0 auto 0 0; 
  }
  .herramientas {
    margin:0;
  }
  .caracteristicas {
    margin-right:0 
  }  
  .grupo-iconos .imagen-Anabel {    
    width: 100%;
  }  
  .iconos {
    margin-top: 50px;
    width: 100%;
    right: 0%;
    left: 0%;
  }
  .iconos-herramientas {
    padding: 10px 0;
  }
  .imagenes-catalogo-intense {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #catalogo-intense, #catalogo-sertafty {
    background-size: cover;
    background-position: center;
  }
  .lista-imagenes-digital {
    margin-bottom: 80px;
  }
  .notebook {
    top: -100px;
    margin-bottom:-100px;
  } 
  .imagenes-catalogo-serfaty {
    display: block;
    text-align: center;
  }
  .imagenes-catalogo-serfaty2 {
    right: 0;
    left: 0;
    justify-content: center;
    align-items: baseline;
    position: relative;
    top: 25px;
    height: auto;
    margin-bottom: 25px;
  }
  .work {
    border-radius: 100px !important;
  }
  #prototype .contenido {
    width: 70%;
    top: 0px;
  }
  .caracteristicas h3,
  .work h3 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navbar-header {
    padding-left: 10px;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar {
    background-color: #251653 !important;
  }
  .navbar-nav {
    align-items: baseline;
    height: 100vh;
    background-color: #251653;
  }
  .navbar-nav li {
    width: 100%;
  }
  .navbar-nav li a {
    justify-content: center; 
    color: #fff !important;
  }
  .navbar-nav li a,
  .scrolled .navbar-nav li a {
    padding: 10vh;
    font-size: 14px;
    color: #fff;
  }
  .navbar-nav li a:hover {
    background-color: rgba(250, 250, 250, 0.5);
  }
  .navbar-nav .nav-link.active, 
  .navbar-nav .show  .nav-link {
    color: #fff !important;
    background-color: #6d5497;
    text-transform: uppercase;
  }
  .navbar-brand h2,
  .navbar-brand p,
  .scrolled .navbar-brand h2,
  .scrolled .navbar-brand p {
    color: #fff !important;
  }
  .collapse:not(.show) {
    display: none;
  }
  .navbar-collapse {
    background-color: #fff;
    flex-basis: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-top: 0;
    top: 100%;
    text-align: center;
    border-top: 0;
    left: 0;
    width: 100%;
    transition: all .3s;
    background-color: #1c1c1c; 
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    transform: translateX(0%);
    margin: 0;
    padding:0;
    background-color: #1c1c1c;
  }  
  .hamburger--minus {
    display: block;
  }
  .caracteristicas {
    margin-right: 0;
    margin-left: 0;
  }
  .grupo-iconos {
    margin-top: 50px;
  }
  .grupo-iconos .imagen-Anabel {
    margin-top: 0;
    width: 100%;
  }      
  .iconos {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
  }
  .contenido {
    background-position: right;
  }
  #carousel .contenido p { 
    padding:30px 0 0 0 !important;
    margin: 0;
    width:100%;
  }
  .carousel-inner {
    height: auto;
  }
  .notebook {
    left: -10%;
  }
  .pantallas {
    width:80%;
    margin-top: 20px;
  }
  .imagenes-aplications {
    padding:20px 0;
  }
  .foto-teca {
    padding-bottom: 40px;
  }
  .foto-gea {
    float: right;
  }
  #aplications .contenido {
    padding: 40px 0;
  }
  .logo-teca img {
    padding-bottom: 40px;
  }
  .logo-gea img {
    padding-top: 40px;
  }
  .logo-teca {
    border-top: none;
    border-bottom: 10px solid #4e6f80;;
  }
  .imagenes-catalogo-vapes, 
  .imagenes-catalogo-vapes-02 {
    margin: 0 auto;
    float: none;
  }
  .celular-vapes {
    position: relative;
    right: 0;
    padding: 20px 0 10px 0;
  }
  .pc-vapes {
    position: relative;
    top: -30px;
  }
  .humo-colores {
    position: relative;
    z-index: 10;
    width: 45%;
    top: 65px;
    left: 55px;
    margin: 0 auto;
  }
  .caracteristicas {
    margin-top: 40px;
  }  
  .work p {
    border-left:none;
    padding: 15px 0;
    text-align: center;
  } 
  .botones-work {
    padding-top: 10px;
  } 
  .imagenes-prototype-2 {    
    top: 0px; 
  }
  #prototype .contenido {
    top: 0px;
    margin: 0 auto;
    width: 100% !important;  
  }
  #prototype .contenido p {
    text-align: center;  
  }
  .logo-SKETCHUP {
    width: 30%;
    left: 0%;
    margin: 0 auto;
    float: none;
  }
} 

@media (max-width: 600px) {    
  .contenido-video h1 {
    font-size: 25px;
  }
  .contenido-video h1 hr {
    height: 35px;
    border: 1px solid #fff;
    top: 0;
  }
  .iconos {
    margin-top: 0;
  } 
  .humo-colores {
    top: 55px;
    left: 45px;
  }

}
@media (max-width: 480px) {    
  .humo-colores {
    top: 35px;
    left: 30px;
  }
  .notebook {
    left: -5%;
  }
}  