
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: -8px;
  left: 0px;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: linear-gradient(to right, #6d5497,#fff);
}

input:checked + label:after {
  left: calc(100% - -5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

<input type="checkbox" id="switch" checked />
<label for="switch">Toggle</label></li>